Repository zhouCode/Go-Co-learning, changes with the owners that CODEOWNERS names for each.
All owners: @zhouCode, @student-2023110571, @student-2023110659, @student-2023110835, @student-2023110887, @student-2023110917, @student-2023111173, @student-2023111416, @student-2023111423, @student-2023111580, @student-2023111810, @student-2023111833, @student-2023112319, @student-2023112567, @student-2023112758, @student-2023112796, @student-2023112957, @student-2023113013, @student-2023113122, @student-2023113248, @student-2023113505, @student-2023114550, @student-2023114594, @student-2023114744, @student-2023115001, @student-2211210127, @student-2023110554, @student-2023110726, @student-2023111182, @student-2023111222, @student-2023111492, @student-2023111594, @student-2023111871, @student-2023111967, @student-2023112049, @student-2023112222, @student-2023112376, @student-2023112407, @student-2023112601, @student-2023112984, @student-2023113103, @student-2023113249, @student-2023113333, @student-2023113345, @student-2023113499, @student-2023113528, @student-2023113595, @student-2023113815, @student-2023113943, @student-2023114031, @student-2023114180, @student-2023115219, @student-2023115246

添加详细的学生操作手册：包含笔记和代码提交的完整流程指南
  README.md
Owners: @zhouCode

优化权限检查逻辑：学生修改非自己文件夹时改为忽略而非报错
  .github/workflows/check-permissions.yml
  README.md
Owners: @zhouCode

更新README
  README.md
Owners: @zhouCode

更新README
  README.md
Owners: @zhouCode

studentmapping update
  .github/student-mapping.json
  teacher/ch01/01_HelloWorld.go
Owners: @zhouCode

studentmapping update
  .github/student-mapping.json
Owners: @zhouCode

test
  .github/student-mapping.json
  23区块链02班_2023113815_胡轩瑞/code/main.go
  23区块链02班_2222222222_钱多多/code/main.go
  23区块链02班_2222222222_钱多多/note.md
Owners: @zhouCode, @student-2023113815

更新
  23区块链02班_2222222222_钱多多/code/main.go
  23区块链02班_2222222222_钱多多/note.md
Owners: @zhouCode

test
  23区块链02班_2023115246_梁勇/note.md
  teacher/ch01/01_HelloWorld.go
Owners: @student-2023115246, @zhouCode

CODEOWNERS:

# CODEOWNERS 文件
# 此文件定义了仓库中不同路径的代码所有者
# 当有人提交PR修改这些路径时，需要相应的所有者审核

# 根目录文件只有教师可以修改
* @zhouCode
README.md @zhouCode
.gitignore @zhouCode
.github/ @zhouCode
*.py @zhouCode
*.xlsx @zhouCode

# 教师文件夹
teacher/ @zhouCode

# 23区块链01班学生文件夹权限
# 注意：GitHub的CODEOWNERS不支持动态用户映射
# 这里需要手动维护学号到GitHub用户名的映射
# 实际使用时，需要将 @student-学号 替换为实际的GitHub用户名

# 23区块链01班
23区块链01班_2023110571_朱海平/ @student-2023110571
23区块链01班_2023110659_唐秋平/ @student-2023110659
23区块链01班_2023110835_涂雨欣/ @student-2023110835
23区块链01班_2023110887_胡磊/ @student-2023110887
23区块链01班_2023110917_彭俊霖/ @student-2023110917
23区块链01班_2023111173_江金桧/ @student-2023111173
23区块链01班_2023111416_罗佳康/ @student-2023111416
23区块链01班_2023111423_费沁烽/ @student-2023111423
23区块链01班_2023111580_杨程喆/ @student-2023111580
23区块链01班_2023111810_唐梦琴/ @student-2023111810
23区块链01班_2023111833_刘昱彤/ @student-2023111833
23区块链01班_2023112319_程蒙蒙/ @student-2023112319
23区块链01班_2023112567_向东萍/ @student-2023112567
23区块链01班_2023112758_任建飞/ @student-2023112758
23区块链01班_2023112796_高新博/ @student-2023112796
23区块链01班_2023112957_李卓豪/ @student-2023112957
23区块链01班_2023113013_张紫浩/ @student-2023113013
23区块链01班_2023113122_胡文杰/ @student-2023113122
23区块链01班_2023113248_吴杭君/ @student-2023113248
23区块链01班_2023113505_罗聿航/ @student-2023113505
23区块链01班_2023114550_温思涵/ @student-2023114550
23区块链01班_2023114594_董升/ @student-2023114594
23区块链01班_2023114744_周成松/ @student-2023114744
23区块链01班_2023115001_张跃/ @student-2023115001
23区块链01班_2211210127_赵博雅/ @student-2211210127

# 23区块链02班
23区块链02班_2023110554_唐浚豪/ @student-2023110554
23区块链02班_2023110726_王鹏/ @student-2023110726
23区块链02班_2023111182_杜俊哲/ @student-2023111182
23区块链02班_2023111222_王明明/ @student-2023111222
23区块链02班_2023111492_曾月/ @student-2023111492
23区块链02班_2023111594_谭晓静/ @student-2023111594
23区块链02班_2023111871_张一/ @student-2023111871
23区块链02班_2023111967_何诗妍/ @student-2023111967
23区块链02班_2023112049_高卫东/ @student-2023112049
23区块链02班_2023112222_杨玙宁/ @student-2023112222
23区块链02班_2023112376_李德杰/ @student-2023112376
23区块链02班_2023112407_文林/ @student-2023112407
23区块链02班_2023112601_刘建豪/ @student-2023112601
23区块链02班_2023112984_钟凯良/ @student-2023112984
23区块链02班_2023113103_何霖/ @student-2023113103
23区块链02班_2023113249_王鹏/ @student-2023113249
23区块链02班_2023113333_黄晓玉/ @student-2023113333
23区块链02班_2023113345_肖红伟/ @student-2023113345
23区块链02班_2023113499_刘秋萍/ @student-2023113499
23区块链02班_2023113528_韩熙文/ @student-2023113528
23区块链02班_2023113595_靳京华/ @student-2023113595
23区块链02班_2023113815_胡轩瑞/ @student-2023113815
23区块链02班_2023113943_王传浩/ @student-2023113943
23区块链02班_2023114031_王浩宇/ @student-2023114031
23区块链02班_2023114180_王道菊/ @student-2023114180
23区块链02班_2023115219_殷毓/ @student-2023115219
23区块链02班_2023115246_梁勇/ @student-2023115246

# 备注：
# 1. 实际使用时，需要将 @student-学号 替换为学生的实际GitHub用户名
# 2. 教师需要将 @teacher-username 替换为自己的GitHub用户名
# 3. 可以为每个文件夹指定多个所有者，用空格分隔
# 4. 教师作为管理员，对所有文件都有审核权限
